@{
ViewBag.Title= "Toplanti Ozeti";
}
<main class="text-center">
    <h1 class="h4">Toplanti Ozeti</h1>
    <p>Toplantiya sizinle birlikte 20 kisi katiliyor</p>
    <a href="#" class="btn btn-primary">Katilimcilari Listele</a>
</main>