@{
ViewBag.Title= "Topalnti Katilim Listesi";
}
<h1 class="h4">Toplantiya Katilim Listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>AD</td>
            <td>Katilim Durumu</td>
            <td>Detay</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mucahit Alimci</td>
            <td>Evet</td>
            <td>
                <a href="#" class="btn btn-sm btn-primary">Detay</a>
            </td>
        </tr>
        <tr>
            <td>Erdogan Mucahit Alimci</td>
            <td>Evet</td>
            <td>
                <a href=" #" class="btn btn-sm btn-primary">Detay</a>
            </td>
        </tr>
    </tbody>
</table>