@{
ViewBag.Title=" Toplanti Basvuru ";
Layout= "_Layout2";
}
<!-- <h1 class="h4">@ViewBag.Selamlama, @ViewBag.UserName</h1> -->
<h1 class="h4">@ViewData["Selamlama"], @ViewData["UserName"]</h1>
<p>Toplanti Katilim Durumunuzu bildiriniz</p>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru yap</a>